.hero {
  width: 1300px;
  height: 580px;
  background: linear-gradient(180deg, #ea8c67 0%, #f6d291 100%);
  position: relative;

  h1 {
    font-size: 100px;
    line-height: 120px;
    letter-spacing: 0.03em;
    color: #f5f5f5;
    text-shadow: 3.33333px 3.33333px 0px #d5840b;
  }
}

.logo {
  position: absolute;
  left: 45px;
  width: 230px;
}

#text-ux {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

#text-code {
  position: absolute;
  top: 262px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

#wave-1 {
  animation: rotate 300s linear infinite;
  transform-origin: center 5980px;
}
#wave-2 {
  animation: rotate 250s linear infinite;
  transform-origin: center 6020px;
}
#wave-3 {
  animation: rotate 200s linear infinite;
  transform-origin: center 6060px;
}

#bg-waves {
  width: 1600px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
